<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pizza App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <nav class="container mx-auto flex items-center justify-between py-4">
            <div>
                <a href="/"><img class="" src="/img/logo.png" alt="logo"></a>
            </div>
            <div>
                <ul class="flex items-center">
                   
                    <li class="ml-6"><a href="/menu">Menu</a></li>
                    
                    <% if(user) { %>
                        <li class="ml-6">
                            <form action="/logout" method="post">
                            <a onclick="document.getElementById('logout').submit()" 
                            style="cursor: pointer;" href="/logout">Logout</a></li>
                            </form>
                            <% } else{%> 
                        <li class="ml-6"><a href="/register">Register</a></li>
                        <li class="ml-6"><a href="/login">Login</a></li>
                    <% } %>
                    <li class="ml-6"><a href="/cart"><img src="/img/cart-black.png" alt="cart"></a></li>
                </ul>
            </div>
        </nav>
        
        <%- body %>
       
        <footer></footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app.js"></script>

    </body>
</html>